# YMCA Auto-Signup Configuration

# Preferred YMCA locations to fetch classes from
# To find location IDs, run: node get-locations.js
# Leave empty array [] to fetch from all locations
preferredLocations:
  - 15  # Alexander Family YMCA
  - 24  # Poyner YMCA
  - 25  # Southeast Raleigh YMCA

# All available locations (uncomment the ones you want to add):
#  - 1   # Downtown Durham YMCA
#  - 7   # Lakewood YMCA
#  - 9   # YMCA at American Tobacco
#  - 12  # Hope Valley Farms YMCA
#  - 14  # A.E. Finley YMCA
#  - 15  # Alexander Family YMCA
#  - 16  # Chapel Hill-Carrboro YMCA
#  - 17  # Chatham Park YMCA
#  - 18  # East Triangle YMCA
#  - 19  # Ingram Family YMCA
#  - 20  # Kerr Family YMCA
#  - 21  # Kraft Family YMCA
#  - 22  # Northwest Cary YMCA
#  - 23  # Poole Family YMCA
#  - 24  # Poyner YMCA
#  - 25  # Southeast Raleigh YMCA
#  - 26  # Taylor Family YMCA
#  - 27  # Knightdale Station YMCA
#  - 28  # YMCA at Meadowmont
#  - 143 # Test Location
#  - 179 # Y Health Member
#  - 180 # YMCA 7 Day Pass Member

# Scheduler settings
scheduler:
  # How often to check for classes to auto-signup (in minutes)
  checkIntervalMinutes: 5
  
  # Default hours before class to attempt signup
  defaultSignupHoursBefore: 46

# Class fetch settings
classFetch:
  # Default number of days to fetch ahead
  defaultDaysAhead: 7
  
  # Maximum number of classes to process at once
  maxClassesPerFetch: 5000
